@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 22.27%,
    rgba(0, 0, 0, 0) 288.66%
  );
}

body {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

@media only screen and (min-width: 728px) {
  .background {
    transform: translateZ(-10px);
  }
}
.header {
  transform-style: preserve-3d;
}

.background {
  background-image: url("/assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.foreground {
  transform: translateX(-50%);
}

.background,
.foreground {
 z-index: -1;
}

.translate-3d {
  transform: translateZ(-10px);
  transform-style: preserve-3d;
  z-index: -1;
}

.gradient1 {
  background: linear-gradient(
    90deg,
    #44d8ff -0.55%,
    #084fff -0.54%,
    #084fff -0.53%,
    #ffce00 49.19%,
    #f47d31 99.34%
  );
}
